[submodule "specification"]
	path = specification
	url = https://github.com/ga4gh-beacon/specification
[submodule "candig-schemas"]
	path = candig-schemas
	url = https://github.com/CanDIG/candig-schemas
[submodule "candig-server"]
	path = candig-server
	url = https://github.com/CanDIG/candig-server
